<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jneickhoff.workleisure"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="jneickhoff.workleisure.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="jneickhoff.workleisure.TaskListActivity"
            android:label="@string/title_activity_task_list" >
        </activity>
        <activity
            android:name="jneickhoff.workleisure.EditTaskActivity"
            android:label="@string/title_activity_edit_task" >
        </activity>
        <activity
            android:name="jneickhoff.workleisure.TaskDetailActivity"
            android:label="@string/title_activity_task_detail" >
        </activity>
        <activity
            android:name="jneickhoff.workleisure.ClaimListActivity"
            android:label="@string/title_activity_claim_list" >
        </activity>
        <activity
            android:name="jneickhoff.workleisure.ClaimRecentActivity"
            android:label="@string/title_activity_claim_recent" >
        </activity>
        <activity
            android:name="jneickhoff.workleisure.LateUpcomingTasksActivity"
            android:label="@string/title_activity_late_upcoming_tasks" >
        </activity>
        <activity
            android:name="jneickhoff.workleisure.BountyGoalListActivity"
            android:label="@string/title_activity_bounty_goal_list" >
        </activity>
        <activity
            android:name="jneickhoff.workleisure.CurrentGoalListActivity"
            android:label="@string/title_activity_current_goal_list" >
        </activity>
    </application>

</manifest>
